*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

html{
  font-size: 62.5%;
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  min-height: 100vh;

}

main{
  position: fixed;
  left: 25rem;
  transition: .5s;
  padding: 1rem 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  transition: 0.3s;
}

th {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

td {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


a{
  text-decoration: none;
  color: rgba(0, 0, 0, .9);
}

button{
  cursor: pointer;
  color: #1971EA;
}


h1{
  margin-bottom: 1rem;
}

h2{
  color: rgb(55, 53, 47);
  pointer-events: none;
}

p{
  font-weight: 300;
  margin-bottom: .5rem;
  background-color: transparent;
  pointer-events: none;

}

.block {
  padding: 0.25rem;
  -webkit-user-select: text;
  user-select: text;
}


.btn{
  border: none;
  width: 15rem;
  height: 5rem;
  text-align: left;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.block:focus,
.isDragging,
.blockSelected {
  background: #F5F6FB;
  outline-color: #F5F6FB;
}

.placeholder {
  color: rgba(72, 72, 72, 0.25);
}

.page{
  width: calc(100% - 25rem);
  /* margin: 5rem auto; */
  margin-top: 1rem;
  /* margin-left: 30rem; */
  text-align: left;
}


.page{
  /* max-width: 1200px; */
}

.screen-title{
  font-weight: 500;
  font-size: 2rem;
  padding-left: 1rem;
}

.screen-copy{
  font-size: 1.4rem;
  margin-top: .5rem;
  color: rgba(0, 0, 0, .7);
  padding-left: 1rem;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: calc(100%);
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.page-footer{
  width: 100%;
  text-align: right;
  padding: 2rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .8);
}

.loading-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 25rem);
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loading{
  display: block;
  height: 100px;
  width: 100px;
  border: 4px solid rgba(0, 0, 0, .5);
  border-left: 4px solid transparent;
  border-radius: 5rem;
  animation: loading .5s linear infinite;
}

@keyframes loading {
  from{
    transform: rotate(0deg);

  }
  to{
    transform: rotate(360deg);
  }
}

.page-content{
  height: 80vh;
  overflow-y: scroll;
  /* padding-bottom: 2rem; */
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, .7);
}

.modal-content{
  background-color: #F5F6FB;
  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 300px;
  margin-bottom: 40rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

}

.modal-content input{
  min-height: 4rem;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.modal-header button{
  border: none;
  font-size: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}

.modal-inputs{
  padding: 2rem 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 2rem; */
}

.modal-inputs input{
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  width: 100%;
  font-size: 1.6rem;
  margin: 2rem 0;
}

.modal-inputs select{
  border: none;
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
}

.modal-inputs textarea{
  border: none;
  width: 100%;
  /* height: 3rem; */
  outline: none;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.btn-success{
  background-color: #1971EA;
  color: #F5F6FB;
  font-size: 1.6rem;
  border: none;
  border-radius: .2rem;
  height: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}