.navigation-task{
    position: fixed;
    height: 100%;
    left: 18rem;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 25rem;
    padding-top: 6.7rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    z-index: 1;
}

.screen{
    position: relative;
    left: 250px;
    width: 100%;
}

.screen-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: calc(100% - 50rem);
    padding: 0 1rem;
}

.task-team-create-button{
    margin-top: 2rem;
    border: none;
    /* padding: 1rem; */
    width: 100%;
    height: 5rem;
    text-align: left;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-team-create-button span{
    font-size: 3rem;
    padding: .1rem;
}

.list-container{
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: calc(100% - 50rem);
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    position: fixed;;
}

.list-card-container > div {
    width: 100%;
}

.list-container::-webkit-scrollbar {
    /* display: none; */
  }

.list-card{
    min-width: 300px;
    border-right: 1px solid rgba(0, 0, 0, .1);
    min-height: 85vh;
}

.list-title{
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card-task{
    width: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, .05);
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.card-task-title{
    display: flex;
    background-color: #1971EA;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.4rem;
    border-radius: .5rem .5rem 0 0;
    color: #F2F6FA;

}

.card-task-content{
    padding: 1rem;
}

.card-task-content h2{
    font-size: 1.6rem;
}

.card-task-content p{
    font-size: 1.4rem;
    padding-top: 1rem;
}

.card-task-footer{
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem .5rem;
    display: flex;
    gap: .5rem;
}

.card-actions{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.card-actions button{
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
}

.list-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;
}

.user-content{
    max-width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.user-content img{
    width: 100%;
}

.teams-task-list{
    margin-top: 4rem;
}

.team-task-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .3s;
}

.team-task-item img{
    width: 30px;
}

.team-task-item i{
    font-size: 3rem;
}

.team-task-item:hover{
    box-shadow: 0 0px 8px rgba(0, 0, 0, .15);

}
.team-task-item h3{
    font-size: 1.6rem;
}

.team-task-item p{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
}

.team-title{
    font-weight: 500;
    font-size: 1.4rem !important;
}

.Moderate{
    background-color: orange;
    opacity: .8;
}

.Express{
    background-color: red;
    opacity: .85;
}

.labels-tasks{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.labels-tasks label{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.labels-tasks input{
    margin: 0 !important;
    width: 2rem !important;
}

.labels-tasks .picture{
    width: 40px;
}